In [12]:
import numpy as np
import pandas as pd

from numpy.random import randn

In [13]:
outside=['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [30]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [31]:
df

             A         B
G1 1  0.913586 -0.731744
   2 -1.860291 -0.279315
   3  0.077094  1.467549
G2 1 -0.149959 -0.163409
   2  0.689275 -0.873960
   3  2.608620 -0.877000

In [39]:
df.loc['G1']

          A         B
1  0.913586 -0.731744
2 -1.860291 -0.279315
3  0.077094  1.467549

In [40]:
df.index.names = ['Groups','Num']

In [41]:
df

                   A         B
Groups Num
G1     1    0.913586 -0.731744
       2   -1.860291 -0.279315
       3    0.077094  1.467549
G2     1   -0.149959 -0.163409
       2    0.689275 -0.873960
       3    2.608620 -0.877000

In [42]:
df.loc ['G2'].loc[2]['B']

-0.8739598657603659

In [43]:
df.xs('G1')

            A         B
Num
1    0.913586 -0.731744
2   -1.860291 -0.279315
3    0.077094  1.467549

In [44]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.913586 -0.731744
G2     -0.149959 -0.163409